node_modules
**/node_modules
dist
**/dist
.next
**/.next
.turbo
**/.turbo
coverage
**/coverage
packages/db/generated

.git
.github
.husky
docs
*.md
!README.md

.env
.env.*
!.env.example

docker/data
*.log
.vscode
.idea
